@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --laranja: #F28E29;
    --azul_escuro: #252641;
    --azul_claro: #76AADE;
    --cinza: #444B59;
    --amarelinho: #F7FFC7;
    --branco: #FFFFFF;

}
  

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* ------------- header ------------- */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 93.75vw;
    height: 11vh;
}

.logo img {
    width:11.500vw;
    height:11vh;
    padding: 40px;
    padding-top: 60px;
}

nav ul {
    font-weight: 550;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

nav ul li {
    display: inline;
    margin-right: 90px;
}

nav ul li a {
    color: var(--azul_escuro);
    text-decoration: none;
}

.home{
    color: var(--laranja);
    font-weight: 700;
}

.botoes_cadastroelogin button {
    background-color: var(--branco);
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    height: 4.6vh;
    font-size: 15px;
    text-decoration: none;
    font-weight: 550;
}

.botoes_cadastroelogin button a{
    text-decoration: none;
    color: var(--amarelinho);
}

#cadastro{
    border: none;
    background-color: var(--laranja);
}

#login{
    border: none;
    background-color: var(--azul_claro);
}

#cadastro:hover{
    border-color: var(--laranja);
    color: var(--amarelinho);
    background-color: var(--azul_claro);
}

#login:hover{
    border: none;
    color: var(--amarelinho);
    background-color: var(--laranja);
}

/* ---------- cadastro --------- */
.form-container{
    display: flex;
    justify-content: space-around;
    padding: 80px 100px;
    font-size: 20px;
}

.cadastrar{
    width: 500px;
    height: 70px;
    margin-top: 15px;
    
}

#facalogin{
    text-decoration: none;
    color: var(--azul_claro);
    font-weight: 600;

}

.imagem_cadastro img{
    width: 30vw;
    height: 70vh;
}


input[type="text"],
input[type="email"],
input[type="password"],
    select,
    textarea {
        border: 2px solid var(--azul_claro);
        border-radius: 30px;
        font-size: 15px;
        padding: 10px;
        margin-bottom: 30px; 
        width: 31vw; 
        box-sizing: border-box;
    }


label{
    margin-bottom: 7px;
    padding: 4px;
    font-weight: 450;
    color: var(--cinza);
}

button[type=submit]{
    color: var(--branco);
    background-color: var(--azul_claro);
    border: none;
    border-radius: 40px;
    width: 31vw;
    height: 4.5vh;
    font-size: 20px;
}

.possuirconta{
    text-align: center

}

/* ---------- login --------- */

.form-container_login{
    display: flex;
    justify-content: space-around;
    padding: 80px 100px;
    font-size: 20px;

    input[type="email"],
    input[type="password"],
    select,
    textarea {
        border: 2px solid var(--azul_claro);
        border-radius: 30px;
        font-size: 15px;
        padding: 10px;
        margin-bottom: 30px; 
        width: 31vw; 
        height: 8vh;
        box-sizing: border-box;
    }

    #entrar{
        color: var(--branco);
        background-color: var(--azul_claro);
        border: none;
        border-radius: 40px;
        width: 31vw;
        height: 7vh;
        font-size: 20px;
        margin-top: 20px;
    }
}

.login{
    

}

.cadastrar_login{
    width: 500px;
    height: 70px;
    margin-top: 15px;
}

#facacadastro{
    text-decoration: none;
    color: var(--azul_claro);
    font-weight: 600;
}

.imagem_cadastro img{
    width: 30vw;
    height: 70vh;
}


label{
    margin-bottom: 7px;
    padding: 4px;
    font-weight: 450;
    color: var(--cinza);
}

.possuirconta{
    text-align: center
}

