.form-container{
    display: flex;
    justify-content: space-around;
    padding: 2px 200px;
    font-size: 20px;
    margin-top: 0;
}

.container{
    margin-top: -70px;
}

.cadastrar{
    width: 500px;
    height: 70px;
}

#facalogin{
    text-decoration: none;
    color: var(--azul_claro);
    font-weight: 600;
}

.imagem_cadastro{
    padding-left: 40px;
    padding-top: 1px;
}

.imagem_cadastro img{
    width: 30vw;
    height: 70vh;
    margin-top: -70px;
}

input[type="text"],
input[type="email"],
input[type="password"],
    select,
    textarea {
        border: 2px solid var(--azul_claro);
        border-radius: 30px;
        font-size: 15px;
        padding: 10px;
        margin-bottom: 30px; 
        width: 31vw; 
        box-sizing: border-box;
    }

label{
    margin-bottom: 7px;
    padding: 4px;
    font-weight: 450;
    color: var(--cinza);
}

button[type=button]{
    color: var(--branco);
    background-color: var(--azul_claro);
    border: none;
    border-radius: 40px;
    width: 31vw;
    height: 4.5vh;
    font-size: 20px;
    cursor: pointer;

}

.inicio_cad{
    padding-left: 250px;
}

.cadastre-se {
    color: orange; /* Cor laranja */
    font-size: 35px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaço abaixo do h1 */
    text-align: left; 
}

.possuirconta {
    text-align: left;
    font-size: 19px;
    color: var(--cinza); /* Cor cinza */
}
