header{
    position: fixed;
}


main {
    padding: 140px 0 0 0;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 50px;
}

.conteudo1 {
    max-width: 600px;
}

.conteudo1 h1 {
    color: var(--verdeagua);
    font-size: 60px;
    margin-bottom: 25px;
    font-family: "Russo One";
    font-weight: 300;
}

.conteudo1 p {
    color: var(--cinza);
    font-size: 25px;
    line-height: 1.2;
    font-family: "Raleway";
    font-weight: 500;
    text-align: justify;
}

.criancainicio img {
    max-width: 100%;
    width: 600px;
    height: 600px;;
    height: auto;
    padding-left: 100px;
    border-radius: 10px;
}

.informacoes-ingles {
    background-color: var(--azul_claro);
    padding: 50px 0;
}

.informacoes-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: var(--branco);
    border-radius: 10px;
}

.imagem-crianca {
    flex: 1;
    margin-right: 20px;
}

.imagem-crianca img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    width: 600px; 
    height: 600px;
    background-color: var(--laranja);
    padding: 10px;
}


.texto-informacoes {
    flex: 1;
    margin-left: 20px;
}

.texto-informacoes h2 {
    color: var(--laranja);
    font-size: 55px;
    margin-bottom: 20px;
    font-family: "Russo One";
    font-weight: 400;
}

.texto-informacoes p {
    color: var(--cinza);
    font-size: 25px;
    line-height: 1.2;
    font-family: "Raleway";
    font-weight: 500;
    margin-bottom: 30px;
    text-align: justify;
}

.botao_info {
    padding-left: 190px;
    padding-top: 5px;
}

.botao-cliqueaqui {
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Raleway";
    font-weight: 700;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra ao elemento para criar uma sensação de profundidade
      - `0`: Deslocamento horizontal da sombra (não se move para os lados).
      - `4px`: Deslocamento vertical da sombra (move-se 4px para baixo).
      - `6px`: Raio de desfoque (quanto maior, mais suave será a sombra).
      - `rgba(0, 0, 0, 0.1)`: Cor da sombra em preto com 10% de opacidade (quase transparente).
    */
    
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Define transições suaves para alterações no elemento:
      - `background-color 0.3s ease`: Transição de cor de fundo com duração de 0.3 segundos e efeito suave (ease).
      - `transform 0.3s ease`: Transição para transformações no elemento (como escala ou rotação), também com 0.3 segundos de duração e suavidade.
    */
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.botao-cliqueaqui:hover {
    background-color: rgb(167, 72, 35); 
    transform: scale(1.1); 
}

.metodologias {
    padding: 50px 0;
}

.metodologias-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.texto-metodologias {
    flex: 1;
    margin-right: 80px;
    font-family: "Raleway", sans-serif;
}

.texto-metodologias h2 {
    font-size: 55px;
    color: var(--verdeagua);
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.texto-metodologias p {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: justify;
}

.dica{
    color: var(--cinza);
}

.descricao {
    font-size: 20px;
    color: var(--verdeagua);
    font-weight: 700;
    margin-bottom: 20px;
    
}

.botao-aprenda-aqui {
    display: inline-block;
    background-color: var(--verdeagua);
    color: var(--branco);
    font-size: 22px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botao-aprenda-aqui:hover {
    background-color: var(--verdeagua);
    transform: scale(1.05);
}

.imagem-metodologias {
    flex: 1;
    text-align: center;
}

.imagem-metodologias img {
    max-width: 110%;
    height: auto;
    border-radius: 15px;
}
