@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


:root {
    --laranja: #F28E29;
    --laranjinha: #FFD1A3; 
    --azul_escuro: #252641;
    --azul_claro: #76AADE;
    --cinza: #444B59;
    --amarelinho: #F7FFC7;
    --branco: #FFFFFF;
    --verdeagua: #46C1AD;
    --rosa: #FFEBEB;
}


body {
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.informacoes h1 {
    text-align: center;
    margin-bottom: 20px;
}

main {
    padding: 30px;
}

.container_info {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -40px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--laranja);
    font-family: "Russo One";
    font-weight: 500;
    font-size: 60px;
}

.painel {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.painel-item {
    border-bottom: 1px solid #ddd;
}

.painel-item:last-child {
    border-bottom: none;
}

.painel-button {
    font-family: "Raleway", sans-serif;
    width: 100%;
    text-align: left;
    padding: 15px;
    background-color: var(--laranja);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.painel-button:after {
    content: '\25bc'; /* seta para baixo */
    font-size: 16px;
}

.painel-conteudo {
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    padding: 0 15px;
    transition: max-height 0.2s ease-out, padding 0.2s ease-out;
    font-size: 20px;
}

.painel-conteudo p {
    padding: 15px 0;
}

.painel-button.active:after {
    content: '\25b2'; /* seta para cima */
}

.painel-button.active + .painel-conteudo {
    max-height: 150px;
    padding: 15px;
}
