.form-container_login {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-left: 110px;

}

input[type="email"],
input[type="password"],
select,
textarea {
    border: 2px solid var(--azul_claro);
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
    width: 31vw; 
    height: 8vh;
    box-sizing: border-box;
}

input[type="email"] {
    margin-bottom: 0px; /* Ajuste este valor conforme necessário */
}

input[type="password"] {
    margin-top: 7px; /* Ajuste este valor conforme necessário */
}

#entrar {
    color: var(--branco);
    background-color: var(--azul_claro);
    border: none;
    border-radius: 25px;
    width: 31vw;
    height: 7vh;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.cadastrar_login {
    width: 500px;
    height: 70px;
    margin-top: 10px;
    margin: 10px;
    gap: 30px;
}

#facacadastro {
    text-decoration: none;
    color: var(--azul_claro);
    font-weight: 600;
}

.imagem_cadastro img {
    width: 30vw;
    height: 70vh;
    margin-top: -200px;
}

label {
    margin-bottom: 7px;
    padding: 4px;
    font-weight: 450;
    color: var(--cinza);
}

.inicio_log{
    padding-left: 250px;
    padding-bottom: 2px;
}

.login-se {
    color: orange; /* Cor laranja */
    font-size: 35px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaço abaixo do h1 */
    text-align: left; 
}

.possuirconta {
    text-align: left;
    font-size: 19px;
    color: var(--cinza); /* Cor cinza */
}
