:root {
    --laranja: #F28E29;
    --azul_escuro: #252641;
    --azul_claro: #76AADE;
    --cinza: #444B59;
    --amarelinho: #F7FFC7;
    --branco: #FFFFFF;
    --verdeagua: #46C1AD;
    --verdeclarinho: #a8ece1;
    --rosa: #FFEBEB;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: auto;
}

.metodologias h1 {
    text-align: center;
    font-size: 90px;
    color: var(--verdeagua);
    font-family: "Russo One";
    font-weight: 400;
    margin-top: -50px;
    margin-right: -900px;
}

.metodologia-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:justify;
    margin: 190px 0;
    font-size: 20px;
    margin-top: -60px;
    margin-bottom: 50px;
    
}

.metodologia-imagem {
    width: 750px;
    margin-right: 150px;
    margin-top: -120px;
}

.metodologia-text {
    max-width: 600px;
    font-size: 1em;
    color: #333;
    line-height: 1.6;
}

.metodologia-text p {
    margin: 0;
}

.video-section {
    background-color: var(--verdeclarinho); 
    border-radius: 15px;
    padding: 50px;
    margin: 20px auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-template-rows: repeat(3, 1fr); /* 3 linhas */
    gap: 40px;
    align-items: center;
    justify-items: center;
}

.video-container iframe {
    width: 700px;
    height: 400px;
    border-radius: 10px;
}
